<div class="container col-6 mt-5">
    <form>
        <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" placeholder="Enter your Name"
         [(ngModel)]="doctor['name']"  name="name">
        </div>
        <div class="form-group">
          <label>cours</label>
          <input type="text" class="form-control" pkaceholder="Enter your cource"
          [(ngModel)]="doctor['cours']" name="cours">
        </div>
        <div class="form-group">
          <label>aga</label>
          <input type="text" class="form-control" pkaceholder="Enter your aga"
          [(ngModel)]="doctor['aga']" name="aga">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </div>
        <button type="submit" class="btn btn-primary"(click)="update()">update</button>
      </form>
</div>