<div class="container col-8 mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">id</th>
            <th scope="col">cours</th>
            <th scope="col">aga</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
             <tr *ngFor="let item of doctor" >
            <td>{{item['name']}}</td>
            <td>{{item['id']}}</td>
            <td>{{item['cours']}}</td>
            <td>{{item['aga']}}</td>
            <td> <button class="mr-5" (click)="Delete(item['id'])" >Delete</button>   
        <a href="doctor/edit/{{item['id']}}"><button> Add</button></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>